<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<a href="../">Go Home :)</a>
<h1>
    {{ title }}
</h1>
<ul>
    {% for phone in phones %}
        <li>
            <h3>{{ phone.company }} {{ phone.series }} {{ phone.model }}</h3>
            <span>
                {% if phone.available %}
                    Items left: {{ phone.count }}
                    <br/><a href="" class="btn cta-buy">Buy Phone</a>
                {% else %}
                    Not Available
                {% endif %}
            </span>
        </li>
        <br/>
    {% endfor %}
</ul>
</body>
</html>